<div {{ attributes }}>
    <table class="table table-striped mt-4" {{ stimulus_controller('sortable') }}>
        <tbody {{ stimulus_target('sortable', 'dropzone') }}>

        {% if this.team is not null and this.team.id is not null %}
            <tr>
                <td colspan="3">
                    <div class="row">
                        <div class="col-1">
                            <button
                                class="btn btn-danger"
                                data-action="live#action"
                                data-live-action-param="deleteTeam"
                            >
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <div class="col-6">
                            <h3>{{ this.team.name | title }}</h3>
                        </div>
                        <div class="col-5"></div>
                    </div>
                </td>
            </tr>
        {% endif %}

        {% set players = this.players %}

        {% if players | length > 0 %}
            <tr>
                <th>{{ 'app.tables.columns.first_name' | trans }}</th>
                <th>{{ 'app.tables.columns.last_name' | trans }}</th>
                <th>{{ 'app.tables.columns.action' | trans }}</th>
            </tr>

            {% for player in players %}
                <tr {{ stimulus_target('sortable', 'draggable') }} draggable="true" id="{{ 'player-' ~ player.id }}">
                    <td>{{ player.firstName | capitalize }}</td>
                    <td>{{ player.lastName | upper }}</td>
                    <td>
                        <button
                            class="btn btn-danger"
                            data-action="live#action"
                            data-live-action-param="deletePlayer"
                            data-live-player-id-param="{{ player.id }}"
                        >
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}

        </tbody>
    </table>
</div>
